  .pic-ctn {
    width: 100%;
    height: 100%;
  }
  
  @keyframes display {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(-200px);
      opacity: 0;
    }
  }
  
  .pic-ctn {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  
  .pic-ctn > img {
    position: absolute;
    top: 0;
    opacity: 0;
    animation: display 10s infinite;
    width: 100%;
    height: 82%;
  }
  
  img:nth-child(2) {
    animation-delay: 2s;
  }
  img:nth-child(3) {
    animation-delay: 4s;
  }
  img:nth-child(4) {
    animation-delay: 6s;
  }
  img:nth-child(5) {
    animation-delay: 8s;
  }