form {
    background-color: #fdfafa;
    color: #212121;
    margin: auto;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
}

label {
    font-weight: 700;
    font-family: 'PP Agrandir Grand Heavy';
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #212121;
    background-color: #fff;
    color: #212121;
    font-size: 16px;
    border-radius: 0;
    font-weight: 600;
}

input[type="submit"] {
    background-color: #C4F723;
    color: #212121;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #4CAF50;
    color: #fff;
    transition: background-color 0.3s ease-in-out;
}

.custom-select {
    position: relative;
    font-family: 'PP Agrandir Grand Ligh', Arial, sans-serif;
    font-weight: 700;
}

option {
    font-weight: 700;
}

.contenedor {
    padding: 16px;
}