.bloc1,
.bloc2 {
    width: 50%;
    padding: 5px;
    display: inline-block;
}

.logo {
    text-align: center;
    margin-left: 10%;
}

.margin {
    margin: 2%;
}

li {
    font-family: 'PP Agrandir Grand Heavy';
    font-weight: 900;
    font-size: 23px;
}

body {
    background-color: #212121;
    font-family: 'Agrandir Wide Medium', sans-serif;

}

h1,
h2 {
    font-family: "Agrandir Wide Medium", sans-serif;
    font-weight: 900;
}

h2,
h1 {
    color: #C4F723;
    text-align: center;
    margin-top: 50px;
    font-weight: 900;
}

h3 {
    color: #fdfafa;
    font-weight: 900;
}

h6 {
    color: #fdfafa;
    font-weight: 900;
    text-align: center;
}

p {
    color: #fdfafa;
    font-family: 'Agrandir Grand Black', sans-serif;
    font-weight: 700;
}